@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --opensans: 'Open Sans', sans-serif;
  --popins: 'Poppins', sans-serif;
  --volkov: 'Volkov', sans-serif;
  --montserrat: 'Montserrat', sans-serif;

  font-family: var(--popins);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
