@import 'tailwindcss';

@theme {
  --default-font-family: 'Poppins', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;
  --font-popins: 'Poppins', sans-serif;
  --font-volkov: 'Volkov', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  /* colors */
  --color-orange: #df6951;
  --color-content-title: #181e4b;
  --color-text-color: #5e6282;
}

:root {
  font-family: var(--default-font-family);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
