@import 'tailwindcss';

@theme {
  --default-font-family: 'Poppins', sans-serif;

  --font-opensans: 'Open Sans', sans-serif;
  --font-popins: 'Poppins', sans-serif;
  --font-volkhov: 'Volkhov', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --color-darkblue: '#080809';
  --color-deepblue: '#181E4B';
  --color-midnight: #212832;
  --color-navyblue: #14183e;
}

:root {
  font-family: var(--default-font-family);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
